@import '@/styles/colours.scss';

@font-face {
    font-family: 'RingBearer Medium';
    src: url('./fonts/RingbearerMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    color: $white !important;
    font-family: 'RingBearer Medium' !important;
  }

  button, h3, h2, span {
    font-family: 'RingBearer Medium' !important;
    color: $white !important;
    font-weight: 100 !important;
  }

  span {
    font-size: 14px !important;
  }

  .MuiTablePagination-selectLabel, .MuiTablePagination-select, .MuiTablePagination-displayedRows, .MuiDataGrid-columnHeader, .MuiDataGrid-cell  {
    font-size: 12px !important;
    font-family: 'RingBearer Medium' !important;
    color: $white !important;
    font-weight: 100 !important;
  }
