@import '@/styles/colours.scss';

#root {
  position: relative;
  text-align: center;
}

body {
  margin: 0px;
}

@media (max-width: 600px) {
  .content {
    padding-top: 32px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: calc(100% - 32px) !important;
  }
  .content-fade {
    flex-direction: column !important;
    height: fit-content !important;
  }
  .content-fade::before {
    display: none !important;
  }
  .content-fade::after {
    display: none !important;
  }
  .content-wrapper::before   {
    display: none !important ;
  }
  .content-wrapper::after {
    display: none !important;
  }
  
}

.content-fade {
  width: 100%;
  height: fit-content;

  position: relative;
  display: inline-block;
}

.content-fade::before {
  content: ''; /* Required to display the pseudo-element */
  position: absolute; /* Position absolutely within the container */
  width:36%;
  height: calc(100% + 30px);
  top: -30px; /* Adjust to control the space around the content */
  left: 0px; /* Adjust to control the space around the content */
  bottom: 0px; /* Adjust to control the space around the content */
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), $black, $black);
  z-index: -1; /* Ensure the gradient stays behind the text */
  filter: blur(10px); /* Optional: Blurs the gradient for a softer look */
}

.content-fade::after {
  content: ''; /* Required to display the pseudo-element */
  position: absolute; /* Position absolutely within the container */
  width:36%;
  height: calc(100% + 30px);
  top: -30px; /* Adjust to control the space around the content */
  right: 0px; /* Adjust to control the space around the content */
  bottom: 0px; /* Adjust to control the space around the content */
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), $black, $black);
  z-index: -1; /* Ensure the gradient stays behind the text */
  filter: blur(10px); /* Optional: Blurs the gradient for a softer look */
}

.content-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content-wrapper::before,
.content-wrapper::after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0;
  width: 33%; /* Takes up half the screen each */
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.content-wrapper::before {
  left:0;
  background-repeat: repeat-y !important;
  background: url('@/assets/images/background/background1.png') left top;
  top: -5px;
  background-size: cover;

}

.content-wrapper::after {
  right: 0;
  background-repeat: repeat-y !important;
  background: url('@/assets/images/background/background2.png') right top;
  top: -5px;
  background-size: cover;
}

.content {
  padding-top: 32px !important;
  background-color: $black !important;
  box-shadow: 0px -100px 200px $black, /* Main shadow */
  0px 1px 200px $black;  /* Additional soft shadow */
  margin: auto;
  height: fit-content;
  width: 34%;
  max-width: 800px;
  min-height: 100vh;
}